<p><strong>Sign in with one of those services:</strong></p>

<%= link_to user_omniauth_authorize_path(:google_oauth2), class: 'social-signin-link' do %>
  <%= image_tag('google_64.png', size: "64x64", alt: "Google") %>
  Google
<% end %>
<%= link_to user_omniauth_authorize_path(:facebook), class: 'social-signin-link' do %>
  <%= image_tag('facebook_64.png', size: "64x64", alt: "Facebook") %>
  Facebook
<% end %>
<%= link_to user_omniauth_authorize_path(:twitter), class: 'social-signin-link' do %>
  <%= image_tag('twitter_64.png', size: "64x64", alt: "Twitter") %>
  Twitter
<% end %>
<br />
<br />
<p><strong>You don't use those services?</strong></p>
<p><%= link_to 'Sign up', new_user_registration_path %>
or <%= link_to 'sign in', new_user_session_path %>
with a password.</p>
