<h1>Listing check_lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Check list definition</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @check_lists.each do |check_list| %>
      <tr>
        <td><%= check_list.name %></td>
        <td><%= check_list.user %></td>
        <td><%= check_list.check_list_definition %></td>
        <td><%= link_to 'Show', check_list %></td>
        <td><%= link_to 'Edit', edit_check_list_path(check_list) %></td>
        <td><%= link_to 'Destroy', check_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check list', new_check_list_path %>
