<%= form_for(@check_list_definition) do |f| %>
  <% if @check_list_definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_list_definition.errors.count, "error") %> prohibited this check_list_definition from being saved:</h2>

      <ul>
      <% @check_list_definition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 80 %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 4, cols: 80 %>
  </div>

  <div>
    Tasks
    <div class="taskInputs">
      <%= f.fields_for :task_definitions do |task_definition| %>
        <%= render :partial => "task_definition_fields",
          :locals => { :f => task_definition }
        %>
      <% end %>
      <%= link_to "+", new_task_definition_path,
        remote: true, class: "btn btn-default btn-xs",
        id: "addTaskBtn"
      %>
    </div>
  </div>
<br/>
  <div class="actions">
    <%= f.submit 'OK', class: "btn btn-primary" %>
    <%= link_to 'Back', check_list_definitions_path, class: "btn btn-default" %>
  </div>
<% end %>
