<%= form_for(@check_list_definition) do |f| %>
  <% if @check_list_definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_list_definition.errors.count, "error") %> prohibited this check_list_definition from being saved:</h2>

      <ul>
      <% @check_list_definition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
