<p id="notice">
  <%= notice %>
</p>

<h1><%= @check_list_definition.name %></h1>
<p>
  <%= @check_list_definition.description %>
</p>

<p>
  <ul class="list-unstyled">
    <% @check_list_definition.task_definitions.each do |task_definition| %>
      <li class="task-definition">
        <span class="glyphicon glyphicon-ok"></span> <%= task_definition.text %>
      </li>
    <% end %>
  </ul>
</p>
<div class="actions">
  <!--%= link_to 'Back', check_list_definitions_path, class: "btn btn-primary" %> |
  <!--%= link_to 'Edit', edit_check_list_definition_path(@check_list_definition), class: "btn btn-primary" %-->
  <% if user_signed_in? %>
    <%= link_to start_check_list_definitions_path(@check_list_definition),
      method: :post, class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-play"></span> Start
    <% end %>
  <% else %>
    <%= link_to '#', class: "btn btn-primary", 'data-toggle' => "modal", 'data-target' => "#signinModal" do %>
      <span class="glyphicon glyphicon-play"></span> Start
    <% end %>
  <% end %>
</div>
