<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo.png', alt: "Get it right"), root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Check List', check_list_definitions_path %></li>
        <li><%= link_to "About", root_path %></li>
        <li><%= link_to "Contact", root_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
          <%= link_to "#", class: "navbar-avatar" do %>
            <%= image_tag current_user.avatar %>
            &nbsp;<%= current_user.name %>
          <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, data: { confirm: "Are you sure you want to sign out?" } %> </li>
            </ul>
          </li>
        </ul>
      <% else %>
        <li><%= link_to "Sign in / sign up", '#', 'data-toggle' => "modal", 'data-target' => "#signinModal" %></li>
      <% end %>
    </ul>
  </div>
</div>
</div>

<!-- Sign in form -->
<% unless user_signed_in? %>
  <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="signinModalLabel">Signup</h4>
        </div>
        <div class="modal-body">
          <%= render 'shared/signin_links' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
